:root {
  --light-white: #f5f5f5;
  --red: #e47a7a;
  --black: #000000;
  --purple: #d38df3;
  --dark-purple: #c38cb3;
  --brown: #694d4d;
  --gray: rgba(246, 240, 240, 0.502);
  --dark-gray: rgba(255, 255, 255, 0.2);
  --blue: #c4fff7;
  --darker-blue: #bafff7;
  --small-box-shadow: rgba(0, 0, 0, 0.3);
  --medium-box-shadow: rgba(0, 0, 0, 0.3);
  --large-box-shadow: rgba(0, 0, 0, 0.16);
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--small-box-shadow);
  box-shadow: inset 0 0 6px var(--small-box-shadow);
  border-radius: 10px;
  background-color: var(--light-white);
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: var(--light-white);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px var(--small-box-shadow);
  box-shadow: inset 0 0 6px var(--small-box-shadow);
  background-color: var(--dark-purple);
}

* {
  font-family: 'Gudea', sans-serif;
}

div.main-container {
  max-height: 100%;
  min-width: 210px;
}

div.input-wrapper {
  display: flex;
  height: 35px;
}

input.input-wrapper__input {
  margin-right: 10%;
  line-height: 1.5;
  border: none;
  background-color: var(--dark-gray);
  box-shadow: 0 2px 4px 0 var(--medium-box-shadow);
  padding: 0.5em 1em 0.5em 0.5em;
  border-radius: 10px;
  flex-basis: 80%;
}

input.input-wrapper__input::placeholder {
  color: #97a1ad;
}

input.input-wrapper__input:focus {
  outline: none;
  box-shadow: 0 4px 10px 0 var(--large-box-shadow);
}

ul.list-search-results {
  padding-left: 0;
  list-style: none;
}

li.list-search-results__item {
  user-select: none;
  cursor: pointer;
  padding: 0.4em 1em;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  word-break: break-word;
  min-width: 210px;
  box-shadow: 0 2px 2px 0 var(--large-box-shadow);
  color: var(--light-brown);
  border-radius: 15px;
  position: relative;
}

li.list-search-results__item:hover {
  box-shadow: 0 4px 4px 0 var(--large-box-shadow);
  background-color: var(--gray);
  color: var(--black);
}

span.list-search-results__item__match-query {
  background-color: var(--purple);
}

li.list-search-results__item--active {
  background-color: var(--blue);
}

li.list-search-results__item--active:hover {
  background-color: var(--darker-blue);
}

span.list-search-results__item__text {
  display: block;
}

span.list-search-results__item__title {
  font-weight: bold;
}

span.list-search-results__item__url {
  margin-top: 5px;
  font-style: italic;
  font-size: 0.8em;

  /* handle long urls */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

span.list-search-results__item__close-button {
  position: absolute;
  top: 0;
  right: 2px;
}

span.list-search-results__item__close-button:hover {
  background-color: var(--red);
  border-radius: 25%;
}
